{% extends 'blog/base.html' %}
{% block content %}
    
    <h1>Change Password..</h1>
    <br/><br/>
    <div class="form-group">
        <form  method="post">
            {% csrf_token %}
                {{ form.as_p }}
               
            <button class="btn btn-secondary">Change Password</button>
    </div>
  
    <ul>
        <li> Your password can't be too similar to yourother personal information.</li>
        <li> Your password must contain at least 8 characters.</li>
        <li> Your password can't be a commonly used password</li>
    </ul>

{% endblock %} 