{% extends 'blog/base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-3 mt-3">
                <h2>Forgot Password</h2>

                <!-- Error messages -->
                {% for field in form %}
                    {% if field.errors %}
                    <div class="col-12">
                        <span class="fw-bold"> {{field.label_tag}}</span>
                        {% for error in field.errors %}
                        <span class="text-danger"> {{error}} </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %} 
    
                <!--Non field Errors-->
                {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <span class="text-danger">{{error}}</span>
                        </div>
                {% endfor %}
                <!-- Success Messages-->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags == 'success' %} alert-success {% else %}alert-danger {% endif %} alert-dismissible fade show">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                        </div>
                    {% endfor %}
                {% endif %}            
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
                </form>
            
            </div>
        </div>
    </div>
    

{% endblock %} 
      
   